.bannerContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner{
  width: 100%;
  height: 80vh;
  background-image: url('../img/98a44487-41b2-40a1-ad14-6c8ea7437f4c-Conrad_Maldives_undersea-villa-bedroom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}