
.formulario{
  margin: 1rem 13rem;background: #373b44;
  background: -webkit-linear-gradient(45deg, #234885, #00ABF3);
  background: linear-gradient(45deg, #264981, #00ABF3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  height: 37vw;
  padding: 15px;
}
.Nombre,.Email,.Comentario,.Numero{
  margin: 4px 1px;
  display: flex;
  flex-direction: column;
}
.labelCampo{

  margin: 0 3px;
}
.formButton{
  margin-top: 5px;
}


@media (max-width:768px) {
  .formulario{
    height: 136vw;
    margin: 0;
    justify-content: center;
  }
  .formParagraph{
    margin: 4px 10px;
  }
  .get{
    font-size: 20px;
  }
}
