.imagenContainer{
  margin: 18rem 0;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.imagen1{
  position: absolute;
  background-image: url('../img/room2.jpg');
  background-position: center;
  height: 80%;
  width: 35vw;
  left: 20vw;
  border: .3rem solid #00ABF3;
  border-radius: .3rem;
}
.imagen2{
  position: absolute;
  background-image: url('../img/room3.jpg');
  background-position: center;
  background-size: cover;
  height: 50%;
  width: 35vw;
  margin-top: 15vh;
  left: 45vw;
  border: .3rem solid #00ABF3;
  border-radius: .3rem;
}

@media (max-width: 768px) {

  .imagenContainer{
    margin: 3rem 0;
  }

  .imagen2{
    position: static;
    height: 18rem;
    width: 80%;
    left: 10vw;
    margin-top: 0;
  }

  .imagen1{
    position: absolute;
    top: 477vw;
    height: 19%;
    width: 40vw;
    left: 53vw;
    background-size: cover;
    background-position: center;
  }
}       