.parrafoContainer{
  display: flex;
  justify-content: center;
}

.parrafo{
  width: 50vw;
}

.vientos{
  font-weight: 900;
}

@media (max-width:750px) {
  .parrafoContainer{
    margin-bottom:-1rem;
  }
  .parrafo{
    width: initial;
  }
  
}