.sobreNosotros_container{
  display: flex;
  background-color: #00ABF3;
  height: 100vh;
}

.sobreNosotros_texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 50%;
  padding: 2rem;
}

.sobreNosotros_img{
  width: 50%;
  background-image: url(../img/room4.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width:768px) {
  .sobreNosotros_img{
    width: 100%;
    height: 45%;
    position: absolute;
    top: 221rem;
    background-image: url(../img/room4.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .sobreNosotros_container{
    flex-direction: column;
   align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .sobreNosotros_parrafo{
    font-size: 25px;
  }

}